{% extends "admin_header.html" %}
{% load static %}
{% block content %}

<h3 class="text-22 text-midnight text-bold mb-4">Bloodbank Form</h3>
                                    <form>
                                        <div class="form-group">
                                            <div class="input-label">
                                                <label>Blood-Group Id</label>
                                            </div>
                                            <input type="text" class="form-control" value="" name="bgrp_id">
                                        </div>
                                        <div class="form-group">
                                            <div class="input-label">
                                                <label>Blood-Group Type</label>
                                            </div>
                                            <input type="text" class="form-control" value="" name="bgrp_type">
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="submit-btn">SUBMIT FORM</button>
                                        </div>
                                    </form>

{% endblock %}