{% extends "admin_header.html" %}
{% load static %}
{% block content %}

<h3 class="text-22 text-midnight text-bold mb-4">Form Inputs</h3>
                                    <form>
                                        <div class="form-group">
                                            <div class="input-label">
                                                <label>Receiver Id</label>
                                            </div>
                                            <input type="number" class="form-control" value="" name="r_id">
                                        </div>
                                        <div class="form-group">
                                            <div class="input-label">
                                                <label>First Name</label>
                                            </div>
                                            <input type="text" class="form-control" value="" name="r_fname">
                                        </div>
                                        <div class="form-group">
                                            <div class="input-label">
                                                <label>Last Name</label>
                                            </div>
                                            <input type="text" class="form-control" value="" name="r_lname">
                                        </div>
                                        <div class="form-group">
                                            <div class="input-label">
                                                <label>Email</label>
                                            </div>
                                            <input type="email" class="form-control" value="" name="r_email">
                                        </div>
                                        <div class="form-group">
                                        <div class="input-label">
                                                <label>Blood-Group Id</label>
                                            </div>
                                            <input type="number" class="form-control" value="" name="bgrp_id">
                                        </div>
                                        <div class="form-group">
                                         <div class="input-label">
                                                <label>Gender</label>
                                            </div>
                                            <input type="text" class="form-control" value="" name="d_gender">
                                        </div>
                                        <div class="form-group">
                                        <div class="input-label">
                                                <label>Date of Birth</label>
                                            </div>
                                            <input type="date" class="form-control" value="" name="r_date">
                                        </div>
                                        <div class="form-group">
                                        <div class="input-label">
                                                <label>Receiver Weight</label>
                                            </div>
                                            <input type="number" class="form-control" value="" name="r_weight">
                                        </div>
                                        <div class="form-group">
                                        <div class="input-label">
                                                <label>Contact No</label>
                                            </div>
                                            <input type="number" class="form-control" value="" name="r_contact">
                                        </div>
                                        <div class="form-group">
                                        <div class="input-label">
                                                <label>Id Proof</label>
                                            </div>
                                            <input type="number" class="form-control" value="" name="r_proof">
                                        </div>
                                        <div class="form-group">
                                         <div class="input-label">
                                                <label>House Number</label>
                                            </div>
                                            <input type="number" class="form-control" value="" name="r_home">
                                        </div>
                                        <div class="form-group">

                                            <div class="input-label">
                                                <label>Receiver Address</label>
                                            </div>
                                             <textarea class="form-control" id="textarea" rows="5" name="r_add"></textarea>
                                         </div>
                                         <div class="form-group">
                                         <div class="input-label">
                                                <label>State</label>
                                            </div>
                                            <input type="text" class="form-control" value="" name="r_state">
                                        </div>

                                         <div class="form-group">
                                            <div class="input-label">
                                                <label>Username</label>
                                            </div>
                                            <input type="text" class="form-control" value="" name="r_username">
                                        </div>
                                         <div class="form-group">
                                            <div class="input-label">
                                                <label>Password</label>
                                            </div>
                                            <input type="password" class="form-control" value="" name="r_psw">
                                        </div>
                                         <div class="form-group">
                                            <div class="input-label">
                                                <label>Area Id</label>
                                            </div>
                                            <input type="number" class="form-control" value="" name="a_id">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="submit-btn">SUBMIT FORM</button>
                                        </div>
                                    </form>

{% endblock %}