{% extends "admin_header.html" %}
{% load static %}
{% block content %}
<div class="breadcrumbs-wrap">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-12">
                <div class="breadcrumbs-area">
                    <h1>APPOINMENT</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card component-table">
        <div class="card-body">
            <h3 class="text-body text-center text-md-left text-22 text-bold mb-4">Appointment Table</h3>
            <div class="table-responsive">
                <table id="Area-Table" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Appoinment Id</th>
                        <th>Donor Id</th>
                        <th>Appoinment Date</th>
                        <th>Email</th>
                        <th>Bloodbank Id</th>
                        <th>Appoinment Status</th>
                        <th>Appoinment Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in appoinments %}
                    <tr>
                        <td>{{ data.appointment_id}}</td>
                        <td>{{ data.d_id }}</td>
                        <td>{{ data.given_date }}</td>
                        <td>{{ data.b_id }}</td>
                        <td>{{ data.appoinment_status }}</td>
                        <td>{{ data.appoinment_time }}</td>
                    </tr>
                    {% endfor %}
                     <tr>
                        <td>1121</td>
                        <td>Raipur</td>
                        <td>380001</td>

                     </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}